body {
  display: grid;
  place-content: center;
}

h1 {
  text-align: center;
}

.pageNumbers {
  list-style: none;
  display: flex;
}

.pageNumbers li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  border: 1px solid black;
  cursor: pointer;
}

.pageNumbers li.active {
  background-color: rgba(128, 128, 128, 0.376);
  color: black;
}

.pageNumbers li button {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}
.pageNumbers li button:hover {
  background-color: white;
  color: black;
}
.pageNumbers li button:focus {
  outline: none;
}

.loadmore {
  padding: 0.5rem;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  position: absolute;
  transform: translate(230%, 100%);
  margin: 20px 0;
}

